body {
  background: #707070;
  font-family: 'Nunito', sans-serif;
  color: #333;
}

header, .linkNav, main,footer {
  background: #ffffff;
  padding: 20px;
  border: 2px solid black;
  margin: 20px;
}

header {
  margin-top: 0;
  padding: 0;
  padding-left: 1.1em;
  padding-bottom: 1px;
  border-bottom: 0px;
}

.linkNav {
  margin-top: -2em;
  border-top: 0;
  padding-top: 0;
}
nav a {
  padding-right: 10px;
  text-decoration: none;
  color: #333;
}
nav a:hover {
  color: black;
  text-decoration: underline;
}

.back {
  text-decoration: none;
}

.head td {
  border-bottom: solid 1px black;
  font-size: 18px;
  font-weight: bold;
}

.submit_button {
  color: black;
  background-color: #66b3ff;
  margin-top: 1.5em;
  width: 10em;
  height: 2em;
  border-radius: 5px;
}

.first {
  padding-top: 10px;
}

.alert {
  background-color: #ff8080;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.alert p {
  margin-left: 2px;
}

.is-invalid {
  border: 1px solid red;
}

.error-message {
  margin: 7px;
  margin-left: 0;
  background: #ff4d4d;
  color: white;
  padding: 2px;
}


/* All blogs page */
.container-lg {
  align-items: center;
  padding: 10px;
}
.container-lg h5 {
  font-weight: bold;
}

.blogDesc {
  height: 5.9em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blogDate {
  padding-top: .5em;
}
