body {
  background: #707070;
  font-family: 'Nunito', sans-serif;
  color: #333;
}

header, nav, main,footer {
  background: #ffffff;
  padding: 20px;
  border: 2px solid black;
  margin: 20px;
}

header {
  margin-top: 0;
  padding: 0;
  padding-left: 1.1em;
  padding-bottom: 1px;
  border-bottom: 0px;
}

nav {
  margin-top: -2em;
  border-top: 0;
  padding-top: 0;
}
nav a {
  padding-right: 10px;
  text-decoration: none;
  color: #333;
}
nav a:hover {
  color: black;
  text-decoration: underline;
}

.submit_button {
  color: black;
  background-color: #66b3ff;
  margin-top: 1.5em;
  width: 10em;
  height: 2em;
  border-radius: 5px;
}
